@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: "NFPixels";
    src:
        local("NFPixels-Regular"),
        url("/NFPixels-Regular.otf");
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-muted-foreground: var(--muted-foreground);
    --color-navbar-background: var(--navbar-background);
    --color-card-background: var(--card-background);
    --color-hover-card-background: var(--hover-card-background);
    --color-card-content-background: var(--card-content-background);
    --color-sub-navbar-background: var(--sub-navbar-background);
    --font-main: var(--main);
    --shadow-button: 0px 5px 0px 5px rgba(0, 0, 0, 0.4);
}

@layer base {
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

:root {
    --background: hsl(0, 0%, 10%);
    --foreground: hsl(0, 0%, 80%);
    --muted-foreground: hsl(0, 0%, 50%);
    --navbar-background: hsl(0, 0%, 15%);
    --card-background: hsl(0, 0%, 20%);
    --hover-card-background: hsl(0, 0%, 15%);
    --card-content-background: hsl(0, 0%, 25%);
    --sub-navbar-background: hsl(0, 0%, 17%);
    --main: "NFPixels", "serif";
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--main), serif;
}